{% macro draw_bread_crumb_trail(bread_crumb_data, binder_id) %}

<p>

<ul class="list-inline">

{% for row in bread_crumb_data %}

{% if row.parent_folder_id %}
<li>
<a href="/binder/{{ binder_id }}/folder/{{ row.folder_id }}/info">
{{ row.title }}
</a>
</li>

{% if not loop.last %}
<li class="text-muted">/</li>
{% endif %}

{% endif %}{# if row.parent_folder_id #}

{% endfor %}

</ul>

{% endmacro %}

{% macro draw_bread_crumb_trail_v2(bread_crumb_data, binder, section) %}

<p>
Binder: <strong style="padding-right:10px;">{{ binder.title.title() }}</strong>

{% for row in bread_crumb_data %}

{% if row.parent_folder_id %}
Folder: <strong style="padding-right:10px;">{{ row.title }}</strong>
{% endif %}{# if row.parent_folder_id #}

{% endfor %}

Tab: <strong>{{ section }}</strong>

{% endmacro %}

{% macro draw_bread_crumb_trail_v3(bread_crumb_data, binder, section) %}

<p>
<span style="padding-right:10px;">{{ binder.title.title() }}</span>

<span class="text-muted">//</span>

{% for row in bread_crumb_data %}

{% if row.parent_folder_id %}
<span style="padding-left:10px;padding-right:10px;">{{ row.title }}</span>

{% if loop.last %}
<span class="text-muted">:</span>
{% else %}
<span class="text-muted">/</span>
{% endif %}
{% endif %}


{% endfor %}

<span style="padding-left:10px;">{{ section }}</span>

{% endmacro %}

{% macro draw_bread_crumb_trail_v4(bread_crumb_data, binder, section) %}

<p>
Binder: <strong style="padding-right:10px;">{{ binder.title.title() }}</strong>

<strong style="padding-right:10px;">-</strong>

Folder:

{% for row in bread_crumb_data %}

{% if row.parent_folder_id %}
<strong style="padding-left:10px;padding-right:10px;">{{ row.title }}</strong>
{% if not loop.last %}
<span class="text-muted">/</span>
{% endif %}
{% endif %}{# if row.parent_folder_id #}

{% endfor %}

<strong style="padding-right:10px;">-</strong>

Tab: <strong>{{ section }}</strong>

{% endmacro %}

{# vim: set syntax=htmldjango: #}
