{% macro draw_left_nav(parentchildren, structure, binder_id, selected_folder_id,
    monitor_folder_IDs) %}

<style type="text/css">
#leftnav
{
    background-color:white;
    border:1px solid rgb(221, 221, 221);
    border-radius: 4px;
    padding-top:15px;
}

#leftnav ul.rbnav
{
    padding:0;
    margin-bottom:10px;
}

#leftnav ul.rbnav li
{
    list-style:none;
    margin:0px;
    padding-left:10px;
}

#leftnav ul.rbnav span.glyphicon
{
    color: #428bca;
}

#leftnav a
{
    display:block;
}

#leftnav a:hover
{
    text-decoration:none;
    background-color:#eeeeee;
}

#leftnav li.active
{
    color:white;
    background-color: #428bca;
    font-weight: normal;
}

#leftnav li.active a
{
    color:white;
    font-weight: normal;
}

#leftnav li.active a:hover
{
    text-decoration:none;
    background-color:#428bca;
}

#leftnav a.real-link:hover
{
    text-decoration:underline;
}
</style>

<div id="leftnav" class="span3 col-md-3">

<ul class="rbnav">

{% set mfIDs = mathset(monitor_folder_IDs) %}

{% for x in parentchildren recursive %}
{% set child = structure[x] %}

{% set descendents = mathset(child.descendents) %}

{% if child.children and child.folder_format %}

{% if mfIDs.intersection(descendents) %}

{% if selected_folder_id in child.descendents %}
<li>
<span class="hide pull-right glyphicon glyphicon-chevron-right"></span>
<span class="pull-right glyphicon glyphicon-chevron-down"></span>
{% else %}
<li>
<span class="pull-right glyphicon glyphicon-chevron-right"></span>
<span class="hide pull-right glyphicon glyphicon-chevron-down"></span>
{% endif %}

<a class="toggle-children" href="#toggle-children">{{child.folder_format.Title}}</a>

{% if selected_folder_id in child.descendents %}
<ul class="rbnav">
{% else %}
<ul class="hide rbnav">
{% endif %}

{{loop(child.children)}}
</ul>
</li>

{% endif %}

{#
#}
{% elif child.folder_id in mfIDs %}

{% if selected_folder_id == child.folder_id %}
<li class="active">
{% else %}
<li>
{% endif %}

<a class="real-link" href="/binder/{{ binder_id }}/folder/{{child.folder_id}}/effective">
{{child.folder_format.Title}}
</a>
</li>
{% endif %}

{% endfor %}
</ul>

</div>

<script type="text/javascript">
$(document).ready(function () {

    $('a.toggle-children').on('click', function (e) {
        $(this).siblings('ul, span.glyphicon').toggleClass('hide');
        e.preventDefault();
    });

});

</script>
{% endmacro %}

{# vim: set syntax=htmldjango: #}
