<div class="navbar navbar-inverse navbar-fixed-top navbar-default">
 <div class="navbar-inner">
 <div class="container">

    {% if req.user %}

    <form class="navbar-form pull-right" action="/logout" method="POST">
        <button type="submit" class="btn">Logout</button>
    </form>

    <ul class="nav navbar-nav pull-right">
    <li>
    <a href="/me">
    <i class="icon-user"></i>
    {{ req.user.display_name }}</a>
    </li>

    </ul>

    <ul class="nav navbar-nav pull-left">

    {% if req.user.is_superuser %}
    <li>
    <a class="brand pull-left" href="/">RegBinder</a>
    </li>

    <li>
    <a href="/clients">View Clients</a>
    </li>

    <li>
    <a href="/view-accounts">View Accounts</a>
    </li>

    {% else %}

    <li>
    <a href="/my-binders">My Binders</a>
    </li>

    {% endif %}

    {% else %}

    <ul class="nav navbar-nav pull-left">

    <li>
     <a class="brand" href="/login">RegBinder</a>
    </li>

    </ul>

    <ul class="nav navbar-nav pull-right">

    <li>
    <a href="/login">Login</a>
    </li>

    </ul>

    {% endif %}


</div> <!-- closes div class="navbar-inner" -->
</div><!-- closes div id="topnav" -->
</div>

