<!DOCTYPE html>
<html>

<head>

{#
<link href='/static/css/bootstrap.css' rel='stylesheet' type='text/css'>
#}

<link href='/static/bootstrap-3.0.0/dist/css/bootstrap.css' rel='stylesheet' type='text/css'>
<link href='/static/font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css'>
<link href='/static/custom.css' rel='stylesheet' type='text/css'>
<link href='/static/slider/css/slider.css' rel='stylesheet' type='text/css'>
<link href='/static/datepicker/css/datepicker.css' rel='stylesheet' type='text/css'>
<link href='/static/css/bootstrap-select.min.css' rel='stylesheet' type='text/css'>

<!--
TODO: figure out how to host everything in the /static folder on some
remote CDN for production hosting.

Meanwhile, for development work, I want everything hosted locally, since
a lot of times I'm on a crappy wireless network with tons of latency.

-->

<title>{% block title %}Binder {{ binder.title }}: {{ folder.folder_format['Title'] }}{% endblock %}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/static/jquery/jquery-1.10.2.min.js"></script>
<script src="/static/bootstrap-3.0.0/dist/js/bootstrap.min.js"></script>
<script src='/static/css3-mediaqueries.js'></script>
<script src="/static/slider/js/bootstrap-slider.js"></script>
<script src="/static/datepicker/js/bootstrap-datepicker.js"></script>
<script src="/static/js/bootstrap-select.min.js"></script>
<script src="/static/modernizr-latest.js"></script>
<script src="/static/typeahead.js/typeahead.js"></script>
<script src="/static/js/bootstrap-paginator.js"></script>
<script src="/static/html5shim.js"></script>
<script src="/static/respond.min.js"></script>
<script src="/static/knockout-3.0.0.js"></script>

{% block styles %}
{% endblock styles %}

</head>

<body>

{% include 'framework/_navbar.html' %}

<div id="main">
<div class="container">

<p>
{% if req.news_message_cookie %}
<div id="news_message" class="alert alert-info alert-dismissable top-buffer">

<button type="button" class="close" data-dismiss="alert"
    aria-hidden="true">&times;</button>

{{ req.pop_news_message_cookie() }}
{% else %}
<div id="news_message" class="alert alert-info hide top-buffer">
{% endif %}
</div>

{% import 'folders/macros.html' as folder_macros %}
<div class="row">

<div class="top-buffer">

{% from 'framework_templates/_draw_bread_crumb_trail.html' import
draw_bread_crumb_trail, draw_bread_crumb_trail_v2,
draw_bread_crumb_trail_v3,
draw_bread_crumb_trail_v4
%}

{#
{{ draw_bread_crumb_trail(bread_crumb_data, binder.binder_id) }}
<hr />
{{ draw_bread_crumb_trail_v2(bread_crumb_data, binder, req.section.title()) }}
<hr />
{{ draw_bread_crumb_trail_v3(bread_crumb_data, binder, req.section.title()) }}
<hr />
#}
{{ draw_bread_crumb_trail_v4(bread_crumb_data, binder, req.section.title()) }}

</div>
</div>
<hr />
<div class="row">

<!-- First do our nav on the left -->
{% if uv.is_monitor %}
{% from 'framework_templates/_draw_monitor_left_nav.html' import draw_left_nav %}
{{ draw_left_nav(parentchildren, structure, binder.binder_id,
    folder.folder_id, uv.get_folder_IDs_I_monitor()) }}
{% else %}
{% from 'framework_templates/_draw_folder_left_nav.html' import draw_left_nav %}
{{ draw_left_nav(parentchildren, structure, key_function, binder.binder_id,
    folder.folder_id) }}
{% endif %}

<div class="span9 col-md-9">

<!-- load in the new and improved folder details on this page -->
{# Make this a macro #}
<ul class="nav nav-tabs">

{% if uv is not defined or uv.can_read_effective_files %}
  <li {% if req.section=="effective" %} class="active" {% endif %}><a href="/binder/{{binder.binder_id}}/folder/{{folder.folder_id}}/effective">Active</a></li>
{% endif %}

{% if uv is not defined or uv.can_read_archived_files %}
  <li {% if req.section=="history" %} class="active" {% endif %}><a href="/binder/{{binder.binder_id}}/folder/{{folder.folder_id}}/history">History</a></li>
{% endif %}

{% if uv is not defined or uv.can_read_timeline %}
  <li {% if req.section=="timeline" %} class="active" {% endif %}><a href="/binder/{{binder.binder_id}}/folder/{{folder.folder_id}}/timeline">Timeline</a></li>
{% endif %}

{% if uv is not defined or uv.can_upload_files %}
  <li {% if req.section=="file" %} class="active" {% endif %}><a href="/binder/{{binder.binder_id}}/folder/{{folder.folder_id}}/file">Upload File</a></li>
{% endif %}

{% if uv is not defined or uv.can_read_info %}
  <li {% if req.section=="info" %} class="active" {% endif %}><a href="/binder/{{binder.binder_id}}/folder/{{folder.folder_id}}/info">Folder Information</a></li>
{% endif %}

{% if uv is defined and uv.show_interactive_log_tab %}
<li {% if req.section=="log" %} class="active" {% endif %}>
<a href="/binder/{{binder.binder_id}}/folder/{{folder.folder_id}}/log">
Interactive Log
</a>
</li>
{% endif %}



</ul>

{% block main %}
{% endblock %}


</div> <!-- end right span -->

</div> <!-- Ends class row -->

{% block modals %}

{% endblock %}

</div><!-- closes div class="container" -->
</div><!-- closes div class="main" -->

{% block scripts %}
{% endblock %}

{% if cw.production_mode %}
<!-- Zend folder help desk tab -->
<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<style type="text/css" media="screen, projection">
  @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
</style>
<script type="text/javascript">
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "20268743",
      url:         "https://regulatorybinder.zendesk.com",
      tabTooltip:  "Support",
      tabImageURL: "https://assets.zendesk.com/external/zenbox/images/tab_support_right.png",
      tabColor:    "black",
      tabPosition: "Right"
    });
  }
</script>
<!-- end zend helpdesk tab -->
{% endif %}

</body>

</html>

{# vim: set syntax=htmldjango: #}
