{% set somethings = ['Industries', 'Issues', 'Trends',
    'Competitors', 'Geographic Regions', 'Goals'] %}

{% macro draw_progress_bar(nodes, active_nodes, product_id=None) %}

<style>
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: black;
    text-align:center;
	text-transform: uppercase;
	font-size: 9px;
    /* this width is hardcoded.. guess you could use some fancy js
       to on the fly figure out how many list items and then adjust
       width as necessary */
	width: 25%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

</style>
<div class="row" style="margin-top:20px">
<ul id="progressbar">
{% for n in nodes %}
{% if n['name'] in active_nodes %}
<li class="active">{{ n['name'] }}</li>
{% else %}
<li>
{% if product_id %}
<a href="{{n['url']}}?product_id={{product_id}}">{{ n['name'] }}</a>
{% else %}
{{ n['name'] }}
{% endif %}
</li>
{% endif %}
{% endfor %}
</ul>
</div> <!-- closes div class="row" -->

{% endmacro %}
